.sidebar {
    &-link {
        &,
        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            color: #2ba7fa;
        }

        &_selected {
            &,
            &:link,
            &:visited {
                color: #2ba7fa;
                text-decoration: none;
            }
        }
    }
}
